# DEVELOPMENT
NODE_ENV=development
TZ=America/Buenos_Aires

# DATABASE
DATABASE_HOST=0.0.0.0
DATABASE_NAME=fma
DATABASE_USERNAME=fma
DATABASE_PASSWORD=fma
DATABASE_ROOT_PASSWORD=root
DATABASE_PORT=5432
DATABASE_DIALECT=postgres

# SWAGGER API
BASEPATH=api
BASE_URL=
PORT=3000
DESCRIPTION=GLAMADATES API
VERSION=0.0.1
SWAGGER_DOCS=1

#AUTH
API_KEY=12345
JWT_SECRET=12345
JWT_EXPIRE_IN=1d

#FRONTEND
NEXT_PUBLIC_BACKEND_URL=https://localhost:3000

FRONTEND_URL=https://localhost:3001

# MERCADOPAGO
MERCADOPAGO_ACCESS_TOKEN=APP_USR-8085883271558976-013108-e5c4682ff6aeaae07332edae682c2022-2243585522
MERCADOPAGO_PUBLIC_KEY=APP_USR-6ab17ac5-0375-4c53-83a8-c457e1ab9b2f

# MAILTRAP
MAILTRAP_USER=621fefa0d74850
MAILTRAP_PASS=9060dd714ad8a4