<!DOCTYPE html>
<html>
<head>
  <title>Reacomodamiento de Turno</title>
</head>
<body>
  <p>Estimado/a {{clientName}},</p>
  <p>Nos complace informarle que se ha liberado un espacio para su turno. Puede adelantar su turno a una fecha y hora más conveniente.</p>
  <p>Detalles del turno sugerido:</p>
  <ul>
    <li>Fecha y hora: {{cancelledAppointmentDate}} a las {{cancelledAppointmentTime}}</li>
  </ul>
  <p>Detalles de su turno actualmente:</p>
  <ul>
    <li>Identificador del turno: {{suggestedAppointmentId}}</li>
    <li>Fecha y hora: {{suggestedAppointmentDate}} a las {{suggestedAppointmentTime}}</li>
    <li>Nombre del paquete: {{packageName}}</li>
    <li>Descripción del paquete: {{packageDescription}}</li>
  </ul>
  <p>Por favor, haga clic en el botón a continuación para reprogramar su turno:</p>
  <a href="{{reappointmentLink}}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px;">Reprogramar Turno</a>
  <p>Saludos cordiales,</p>
  <p>El equipo de GlamaDates</p>
</body>
</html>